@media (max-width: 700px) {
  a.article-nav__next {
    right: 1.2rem !important;
    left: auto !important;
    font-size: 1em;
  }
  a.article-nav__prev {
    left: 1.2rem !important;
    right: auto !important;
    font-size: 1em;
  }
  .article-nav {
    min-height: 2.5rem;
  }
}
/* Navigation Article Précédent/Suivant */
a.article-nav__next {
  color: var(--beige-foncé); 
  font-family: 'Saira SemiCondensed', sans-serif; 
  font-size: 0.8rem; 
  font-weight: 300; 
  text-decoration: underline; 
  text-underline-offset: 1px; 
  border: none; 
  background: none; 
  position: absolute;
  right: 2rem !important;
}

a.article-nav__prev {
  color: var(--beige-foncé); 
  font-family: 'Saira SemiCondensed', sans-serif; 
  font-size: 0.8rem; 
  font-weight: 300; 
  text-decoration: underline; 
  text-underline-offset: 1px; 
  border: none; 
  background: none; 
  position: absolute;
  right: 18rem !important;
}

.article-nav {
  position: relative;
  min-height: 2.5rem;
}