/* Navigation Article Précédent/Suivant */
a.article-nav__next {
  color: var(--beige-foncé); 
  font-family: 'Saira SemiCondensed', sans-serif; 
  font-size: 0.8rem; 
  font-weight: 300; 
  text-decoration: underline; 
  text-underline-offset: 1px; 
  border: none; 
  background: none; 
  position: absolute;
  right: 2rem !important;
}

a.article-nav__prev {
  color: var(--beige-foncé); 
  font-family: 'Saira SemiCondensed', sans-serif; 
  font-size: 0.8rem; 
  font-weight: 300; 
  text-decoration: underline; 
  text-underline-offset: 1px; 
  border: none; 
  background: none; 
  position: absolute;
  right: 15.5rem !important;
}

.article-nav {
  position: relative;
  min-height: 2.5rem;
}