/* 
Tout ce qui est : .btn, .btn--light
*/

.header__menu-btn {
  width: 79px;
  height: 50px;
  margin-top: 2.5rem;
  margin-right: 10px;
  background: none;
  border: 1px solid var(--beige-très-clair);
  border-radius: 12px;
  padding: 0;
  cursor: pointer;
  position: relative;
}
.header__menu-btn::before,
.header__menu-btn::after {
  content: '';
  display: block;
  height: 2px;
  width: 26px;
  background: var(--beige-très-clair);
  border-radius: 2px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.header__menu-btn::before {
  top: 15px;
}
.header__menu-btn span {
  display: block;
  height: 2px;
  width: 26px;
  background: var(--beige-très-clair);
  border-radius: 2px;
  position: absolute;
  top: 23px;
  left: 50%;
  transform: translateX(-50%);
}
.header__menu-btn::after {
  top: 31px;
}