/* 
Tout ce qui est : .btn, .btn-light
*/

.header__menu-btn {
  width: 95px;
  height: 50px;
  margin-top: 1.3rem;
  margin-right: -5px;
  background: none;
  border: 1px solid var(--beige-très-clair);
  border-radius: 12px;
  padding: 0;
  position: relative;
}
.header__menu-btn::before,
.header__menu-btn::after {
  content: '';
  display: block;
  height: 2px;
  width: 26px;
  background: var(--beige-très-clair);
  border-radius: 2px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.header__menu-btn::before {
  top: 15px;
}
.header__menu-btn span {
  display: block;
  height: 2px;
  width: 26px;
  background: var(--beige-très-clair);
  border-radius: 2px;
  position: absolute;
  top: 23px;
  left: 50%;
  transform: translateX(-50%);
}
.header__menu-btn::after {
  top: 31px;
}
.hero__btn-bottom {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  position: absolute;
  bottom: 45px; /* Décale le bouton vers le haut de 32px du bas */
  pointer-events: none;
}
.hero__btn-discover {
  background: url('/assets/cards/découvrirplus.avif') center/cover no-repeat;
  border: none;
  border-radius: 2rem;
  min-width: 260px;
  min-height: 48px;
  margin-right: 34vw; /* Décale le bouton vers la gauche */
}