

.header__menu-btn {
  width: 75px;
  height: 50px;
  margin-top: 1.3rem;
  margin-right: -5px;
  background: none;
  border: 1px solid var(--beige-très-clair);
  border-radius: 12px;
  padding: 0;
  position: relative;
}
.header__menu-btn::before,
.header__menu-btn::after {
  content: '';
  display: block;
  height: 2px;
  width: 26px;
  background: var(--beige-très-clair);
  border-radius: 2px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.header__menu-btn::before {
  top: 15px;
}
.header__menu-btn span {
  display: block;
  height: 2px;
  width: 26px;
  background: var(--beige-très-clair);
  border-radius: 2px;
  position: absolute;
  top: 23px;
  left: 50%;
  transform: translateX(-50%);
}
.header__menu-btn::after {
  top: 31px;
}
.hero__btn-bottom {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  position: absolute;
  bottom: 45px;
  z-index: 1000;
  pointer-events: auto;
}
.hero__btn-discover {
  border: none;
  border-radius: 2rem;
  min-width: 260px;
  min-height: 48px;
  z-index: 1100;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  margin: 0 auto;
}

/* Image du bouton découvrir plus sur la home FR */
.btn-img-discover {
  height: 3.7em;
  max-width: 350px;
  width: 100%;
  display: block;
  margin-left: -15vw;
  margin-right: 0;
}


#menu-overlay__btns {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 1rem 1.5rem;
	max-width: 310px;
	margin-left: 23px;
	margin-right: auto;
	margin-top: 8rem;
}

#menu-overlay__btns a {
	background: color-mix(in srgb, var(--beige-clair) 80%, transparent);
	opacity: 80%;
	color: var(--marron);
	font-family: 'Volkhov', serif;
	font-size: 1rem;
	font-weight: 600;
	border-radius: 0.4rem;
	padding: 0.9rem 1.2rem;
	text-decoration: none;
	box-shadow: 0 2px 8px #0003;
	border: none;
	display: inline-block;
	min-width: 20px;
	margin: -3px;
	text-align: 0;
}