/* Style carte pour toutes les sections principales */
.section {
  background: none !important;
  border-radius: 0 !important;
  box-shadow: none !important;
  padding: 2.2rem 1.2rem 1.7rem 1.2rem;
  margin: 2.2rem 0;
  margin-left: 20px;
  margin-right: 20px;
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  position: relative;
}

.section__title {
  font-family: 'Quicksand', sans-serif;
  margin-bottom: 0;
  margin-top: 0;
  font-size: 22px;
  margin-bottom: 0.25em;
  border-bottom: 2px solid var(--marron-très-foncé);
  padding-bottom: 0.15em;
}

/* Cible uniquement le titre "Nettie Stevens, pionnière des sciences" de la page d'accueil */
#nettie-stevens .section__title.section__title--no-underline {
  font-size: 17px !important;
}

.section__desc {
  font-family: 'Saira SemiCondensed', sans-serif;
  color: var(--marron);
  font-size: 15px;
  line-height: 1.26;
  letter-spacing: -0.57px;
  margin-top: 0rem;
  margin-bottom: 2.5rem;
}

.section__btn {
  display: block;
  width: 450px;
  height: 30px;
  background: url('/assets/cards/ensavoirplus.avif') center center/100% 100% no-repeat;
  border: none;
  margin-top: 0rem;
  margin-bottom: 0rem;
  margin-left: -1.2rem;
  padding: 6px 12px;
  text-indent: -9999px;
  overflow: hidden;
}

.u-highlight {
  color: var(--marron);
}

.full-card-link {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background: none;
  border: none;
  text-indent: -9999px;
  cursor: pointer;
  padding: 0;
  margin: 0;
  opacity: 0;
  display: block;
}

.section.section.section--bio .section__desc,
.section.section.section--career .section__desc,
.section.section.section--discoveries .section__desc
 {
  font-family: 'Saira SemiCondensed', sans-serif;
  color: var(--beige-section);
  font-size: 15px;
  line-height: 1.26;
  letter-spacing: -0.57px;
  margin-top: 0rem;
  margin-bottom: -0.5rem;
}

/* Styles beige uniquement pour index.html */
.beige-cards .section {
  background: var(--beige-clair, #F5F5DC) !important;
  opacity: 0.6;
  border-radius: 18px !important;
}