.section.section.section--matilda {
  margin-top: -4.5em;
}
.section.section--matilda .section__title,
.section.section--matilda .section__divider {
  margin-top: 1.5em;
}
/* Fond spécifique uniquement pour la page Femmes et littérature scientifique */
.main--dark.hero-femmeslitt-bg {
  position: relative;
  z-index: 0;
}

.hero-femmeslitt {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 4.5rem;
  margin-bottom: 2.2rem;
}
.hero-femmeslitt__container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-bottom: 0.5rem;
}
.hero-femmeslitt__bar {
  height: 2px;
  background: var(--beige-clair);
  flex: 1 1 60px;
  max-width: 70px;
  min-width: 20px;
}
.hero-femmeslitt__bar--left {
  margin-right: 0.7rem;
}
.hero-femmeslitt__bar--right {
  color: var(--beige-clair);
  margin-left: 0.7rem;
}
.hero-femmeslitt__dot {
  width: 10px;
  height: 10px;
  background: var(--beige-clair);
  border-radius: 50%;
  margin: 0 0.2rem;
}
.hero-femmeslitt__title {
  color: var(--beige-clair);
  font-family: 'Volkhov', serif;
  font-size: 23px;
  font-weight: 400;
  text-align: center;
  margin: 0 0 0.5rem 0;
  letter-spacing: 0.01em;
}
.hero-femmeslitt__underline {
  width: 90%;
  max-width: 260px;
  height: 2px;
  background: var(--beige-clair);
  margin: 0 auto;
}
.bulle-desc {
  background: var(--beige-clair);
  opacity: 0.8;
  border-radius: 18px;
  padding: 0em 1em;
  margin: 1.7em auto 2em auto;
  text-align: center;
  font-family: 'Saira SemiCondensed', serif;
  font-size: 1.15em;
  font-style: italic;
  color: var(--beige-clair) !important;
  max-width: 370px;
  width: 90%;
}

.femmesdescience-img {
  max-width: 420px;
  width: 100%;
  margin: -2.5em 0 2em 0;
  height: auto;
  border-radius: 12px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.10);
}

.main--dark .section__title {
  font-family: 'Baskervville SC', serif !important;
  font-variant: small-caps;
  font-weight: 400 !important;
  color: var(--beige-section);
}

.main--dark .section__desc {
  color: var(--beige-section);
}

.section.section--context {
  margin-top: -8.5em;
}


@media (min-width: 600px) {
  .hero-femmeslitt__title {
    font-size: 18px;
  }
  .hero-femmeslitt__bar {
    max-width: 60px;
  }
  .hero-femmeslitt__underline {
    max-width: 500px;
  }
}
